<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Quotes</title>
</head>
<body>
    <h1>Here are the awesome quotes!</h1>
    <%for (const index in quotes) {%>
        <h5><%= quotes[index].name %></h5>
        <p><%=  quotes[index].quote %></p>
        <p><%=  quotes[index].createdAt %></p>
        <hr>
    <%}%>
    <a href="/"><button>Go Back</button></a>
</body>
</html>