<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Result</title>
</head>
<body>
    <h2><u>Submitted Information</u></h2>
    <ul>
        <li>Name: <strong><%= user_data.name %></strong></li>
        <li>Dojo Location: <strong><%= user_data.dojolocation %></strong></li>
        <li>Favorite Language: <strong><%= user_data.fav_language %></strong></li>
        <li>Comment: <strong><%= user_data.comment %></strong></li>
    </ul>
    <a href="/"><h5>Go Back</h5></a>
</body>
</html>