<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Counter</title>
  </head>
  <body>
    <h1>Welcome home <%= userName%>!</h1>
    <h3>Counter</h3>
    <p>You visited this page <%= visitCount || 1%> times!</p>
    <!-- Ninja Level 1 -->
    <a href="/reload"> <button>+2</button> </a>
    <!-- Ninja Level 2 -->
    <a href="/reset">
      <button>Reset Session</button>
    </a>
  </body>
</html>
