<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Animal</title>
</head>
<body>
    <h1>New Animal</h1>
    <div>
        <% if(typeOf errors !== "undefined") {%>
            <!-- then loop through errors -->
            <ul>
                <% for(const error in errors) {%>
                    <li><%= errors[error].messages %></li>
                <%}%>
            </ul>
        <%}%>
    </div>
</body>
</html>