<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Express</title>
</head>
<body>
    <<h1>Hello Express from template!</h1>
   <form action="/process" method="post">
       <fieldset>
           <legend>List of users</legend>
           <label for="name">Name:</label>
           <input type="text" name="yourname" id="name">
           <label for="email">Email:</label>
           <input type="email" name="email" id="email">
           <input type="submit" value="Submit">
       </fieldset>
   </form>
</body>
</html>