<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Results</title>
</head>
<body>
    <h3>List of Users</h3>
    <ul>
        <% for(let name of names) {%>
            <li><%= name %></li>
        <% } %>
    </ul>
</body>
</html>