<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Results</title>
</head>
<body>
    <h1>All users:</h1>
    <% for(const user of users) {%>
        <p>Id: <%= user.id %></p>
        <p>Name: <%= user.name %></p>
        <p>Age: <%= user.age %></p>
        <hr>
    <%}%>
</body>
</html>