<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Players and Teams</title>
  </head>
  <body>
    <h3>Players and Teams</h3>
    <nav>
      <a href="/players">Players</a>
      <a href="/teams">Teams</a>
    </nav>
    <hr />
  </body>
</html>
