<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
      $(document).ready(function() {
        //trigger the connection event in your server.
        //choose a method to be used for the connection.
        const socket = io.connect({ transport: ["websocket"], upgrade: false });
        $("#survey_form").submit(function(e) {
          e.preventDefault();
          socket.emit("form_data", {
            name: $("#name").val(),
            dojolocation: $("#dojo").val(),
            fav_lang: $("#fav_lang").val(),
            comment: $("#cmt").val()
          });
          // Clear the form
          $("#name").val("");
          $("#dojo").val("");
          $("#fav_lang").val("");
          $("#cmt").val("");
        });

        //listen to the server's response using the socket's on method
        socket.on("server_response", data => {
          $("#server_message").html(
            "You have emitted the following information to the server:" +
              JSON.stringify(data.response)
          );
        });
        socket.on("random_number", random_number => {
          $("#random_number").html(
            "Your lucky number emitted by the server is: " +
              JSON.stringify(random_number.response)
          );
        });
      });
    </script>
    <title>Survey Form</title>
  </head>
  <body>
    <div id="server_message"></div>
    <p id="random_number"></p>

    <form action="" id="survey_form">
      <fieldset>
        <legend>Survey Form</legend>
        <div>
          <label for="name">Your Name:</label>
          <input type="text" name="yourname" id="name" />
        </div>
        <div>
          <label for="dojo">Dojo Location</label>
          <select name="dojolocation" id="dojo">
            <option>Mountain View</option>
            <option>Seattle</option>
            <option>Dallas</option>
            <option>online</option>
          </select>
        </div>
        <div>
          <label for="fav_lang">Favorite Language:</label>
          <select name="fav_language" id="fav_lang">
            <option>JavaScript</option>
            <option>Python</option>
            <option>Ruby</option>
            <option>Java</option>
            <option>php</option>
          </select>
        </div>
        <br />
        <textarea name="comment" id="cmt" cols="30" rows="10"></textarea>
        <br /><br />
        <button id="btn">Submit</button>
      </fieldset>
    </form>
  </body>
</html>
